
/* ## CSS stylesheet for visualising TEI on the browser ## */

/* ## José Luis Losada: TEI Workshop's materials (Burgos) ##  */

TEI {
    width: 75%;
    margin: 0 auto;
}

/* ## HEADER ## */

bibl title,
editor,
pubPlace,
publisher,
author {

    display: block;
    color: maroon;
    text-align: left;
}

fileDesc,
titleStmt,
publicationStmt,
sourceDesc,
profileDesc,
respStmt,
revisionDesc,
item,
correction,
normalization {
    color: gray;
    display: block;
    margin: 10px;
    border: 1px dotted olive;
    font: 10pt "Times New Roman";
    padding: 4px;
}

titleStmt author,
title,
docAuthor {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: purple;
}

/* ## Sonets ## */

l {
    margin-left: 20px;
    display: block;
}

/* Verse numbers */

/*l[n]:before{
    content: attr(n);
    margin-left: -50px;
    padding-right: 50px;
    position:absolute;
    color: gray;
    
}*/


/* ## Sonet's First capital letter ## */

/* 

l[n="1"]:first-letter { 
float:left; 
margin:0 3px 0 0; 
font-size:3em;
line-height:92%;
color: tomato; 
text-indent:0em;
}

*/

lg[type = cuarteto] {
    padding: 4px;
}

lg[type = terceto] {
    padding: 4px;
}

hi[rend = 'bold']
{
    color: red;
    font-weight: bold;
}

/* ## Normalisation ## */
/* ## To show original and/or normalised reading ## */

orig {
    display: none;
}

/*reg {display: none}*/


/* ## Errors ## */
/* ## To show  original errors and/or corrections ## */

sic {
    display: none;
}

/*corr {
	display: none;
}*/

/* ## Apparatus ## */
/* ## To show different readings ## */


rdg[wit = "#wit-1617-O"] {
    display: none;
}

/*rdg[wit="#wit-1965-PL"] {
	display: none;
}*/


/*## Named entities ##*/

body date {
    color: red;
}

body persName {
    color: blue;
    /*text-transform: uppercase;*/
}

body placeName {
    color: orange;
}

listPerson person,
place {
    display: block;
    color: maroon;
    text-align: left;
    padding: 5px;
}

/*## Theater play ##*/

sp,
p {
    display: block;
    margin-bottom: 10px;
}

speaker {
    font-weight: bold;
    display: block;
    margin-left: 30px;
}

hi[rend = "italics"] {
    font-style: italic;

}

l[part = "F"] {
    margin-left: 150px;
}

l[part = "M"] {
    margin-left: 80px;
}

